<nb-card  class="ego-dim">
    <nb-card-header>{{title}}</nb-card-header>
    <nb-card-body>
      <div class="row ">
        <div class="col-md-4 d-flex justify-content-start tile-1">
            <ngx-slider class="customer-slider" *ngIf="enableSlider" [(value)]="value" [options]="options" (valueChange)="sendRange($event)"></ngx-slider>
            <nb-select *ngIf="enableDropDown" placeholder="Efficiency Type" [(selected)]="efficiencyType">
                <nb-option value="0">Depth-Time</nb-option>
                <nb-option value="1">Depth-Cost</nb-option>
            </nb-select>

            <nb-select *ngIf="enableDropDown2" placeholder="Parameter" [(selected)]="parameter">
                <nb-option value="1">Bit Depth</nb-option>
                <nb-option value="2">Rate of Penetration</nb-option>
                <nb-option value="3">Hook Load</nb-option>
                <nb-option value="4">Differential Pressure</nb-option>
                <nb-option value="5">Weight On Bit</nb-option>
            </nb-select>
            
        </div>
        <div class="col-md-4 d-flex justify-content-start">
            <nb-select *ngIf="enableDropDown" placeholder="Astroid Id" [(selected)]="astroidId">
                <nb-option value="1">Astroid 1</nb-option>
                <nb-option value="2">Astroid 2</nb-option>
                <nb-option value="3">Astroid 3</nb-option>
                <nb-option value="4">Astroid 4</nb-option>
                <nb-option value="5">Astroid 5</nb-option>
            </nb-select>
        </div>
        <div class="col-md-4 d-flex justify-content-end tile-3">
            <nb-select placeholder="Graph Type" [selected]="chartType" (selectedChange)="changeGraph($event)">
                <nb-option value="0">Bar</nb-option>
                <nb-option value="1">Line</nb-option>
                <nb-option value="2">Pie</nb-option>
            </nb-select>
        </div>
      </div>
      <div class="row col-md-12">
        <echarts class="d-flex justify-content-center chart-dim" [initOpts]="initOpts" [options]="chartOptions"></echarts>
      </div>
    </nb-card-body>
</nb-card>