<div class="container-fluid">
  <div class="row d-flex">
    <div class="col-md-12">
      <app-ego-chart-one *ngIf="loadWidOne"
        [xAxisLabel]="xAxisDataOne"
        [initOpts]="initOptionOne"
        [seriesData]="seriesDataOne"
        [enableSlider]="true"
        [enableDropDown]="false"
        (range) = setRange($event)
        [value]="sliderRange"
        [title]="'Economic Status'"
      ></app-ego-chart-one>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-ego-chart-one
        [xAxisLabel]="xAxisDataTwo"
        [initOpts]="initOptionTwo"
        [seriesData]="seriesDataTwo"
        [enableSlider]="false"
        [enableDropDown]="true"
        [chartType]="'1'"
        [title]="'Drill Efficiency'"
      ></app-ego-chart-one>
    </div>
    <div class="col-md-6">
      <app-ego-chart-one
        [xAxisLabel]="xAxisDataTwo"
        [initOpts]="initOptionTwo"
        [seriesData]="seriesDataThree"
        [enableSlider]="false"
        [enableDropDown]="false"
        [enableDropDown2]="true"
        [chartType]="'1'"
        [title]="'Drill Parameter Behaviour'"
      ></app-ego-chart-one>
    </div>
  </div>
</div>
